<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= csrf_meta_tag %>
</head>
<body>
<ul>
  <li><%= link_to "My Stuff", '/stuff/my_stuff' %></li>
  <li><%= link_to "Your Stuff", '/stuff/your_stuff' %></li>
</ul>

<%= yield %>

</body>
</html>
