<h2>Cohort Reports</h2>

<%= form_for @metric_search, :url => cohortly_reports_path, :html =>
{:method => :get} do |f| %>
  <%= render :partial => 'cohortly/metrics/tags' %>
  <%= f.submit 'Get Report'%>
  <div class="result_table">
  </div>
<% end %>
