<div class="tags">
  <% Cohortly::Cohorts.group_names.sort.each_slice(3) do |groups| %>
    <div class="tag_group" style="float:left; padding: 10px;">
      <% groups.sort.each do |group| %>
        <div class"tag">
          <%= check_box_tag 'cohortly_metric[groups][]', group,
          params[:cohortly_metric] && params[:cohortly_metric][:groups] &&
          params[:cohortly_metric][:groups].include?(group) %><label><%= group %></label>
        </div>
      <% end %>
    </div>
  <% end %>
  <div style="clear:both;"></div>
</div>
