<% url_gen ||= lambda {|p| p} %>
<div class="paginate">
    <% if( pagination.previous_page ) %>
      <%= link_to '&lt; prev'.html_safe, url_gen.call(pagination.previous_page) %>
    <% end %>
    <% ([(pagination.current_page - 10), 1].max..[pagination.current_page + 10, pagination.total_pages].min).to_a.each do |p| %>
      <% if pagination.current_page != p %>  
        <%= link_to p, url_gen.call(p) %>
      <% else %>
        <span class="current"><%= p %></span>
      <% end %>
    <% end %>
    <% if( pagination.next_page ) %>
      <%= link_to 'next &gt;'.html_safe, url_gen.call(pagination.next_page) %>
    <% end %>
</div>
