<div class="tags">
  <% Cohortly::Metric.collection.distinct(:tags).each do |tag| %>
    <span class"tag">
      <%= check_box_tag 'tags[]', tag, params[:tags] &&
      params[:tags].include?(tag) %><label><%= tag %></label>
    </span>
  <% end %>
</div>
