<div class="tags">
  <% (Cohortly::Metric.collection.distinct(:tags) - Cohortly::TagConfig.all_groups).sort.each_slice(8) do |tags| %>
    <div class="tag_group" style="float:left; padding: 10px;">
      <% tags.sort.each do |tag| %>
        <div class"tag">
          <%= check_box_tag 'cohortly_metric[tags][]', tag,
          params[:cohortly_metric] && params[:cohortly_metric][:tags] &&
          params[:cohortly_metric][:tags].include?(tag) %><label><%= tag %></label>
        </div>
      <% end %>
    </div>
  <% end %>
  <div style="clear:both;"></div>
</div>
