<table>
  <tr>
    <th>User</th>
    <th>User Email</th>
    <th>Time</th>
    <th>Controller</th>
    <th>Action</th>
    <th>Tags</th>
  </tr>
  <%= render :collection => @metrics, :partial => 'metric' %>
</table>